/TesteFuncionalSomarParcelas/nbproject/
/TesteFuncionalSomarParcelas/target/
/.metadata/
/ConversorTemperatura/target/
/ContadoresEscopo/target/
/OraculoMVC/target/
/OlaLambda/target/
/TradutorMVC/target/
/TesteTradutorMVC/target/
